body {

background-color: #111111;
-webkit-animation: colorPulse 20s infinite alternate;
}

@-webkit-keyframes colorPulse {
      0% {background-color: #101010;}
     50% {background-color: #111111;}
    100% {background-color: #121212;}
}

ul.nav-tabs {
border-bottom-color: #F0F0F0;
}

ul.nav-tabs > li {
color: #101010;
font-family: 'Shadows Into Light Two', cursive;
font-size: 1.8vh;
}

ul.nav-tabs > li a {
color: #101010;
background-color:  #FFF888 ;
}

ul.nav-tabs > li.active > a {

}

ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:focus,
ul.nav-tabs > li > a:hover {
  border:solid 1px #F0F0F0;

  border-bottom-color: transparent;
}

ul.nav-tabs > li > a:hover {

}


.dropdown-menu {
  min-width: 100%;
  padding: 0px;
}


.tab-pane {
  border:solid 1px #F0F0F0;
  color: #F0F0F0;
  font-family: 'Prata', serif;
}

.content-container {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.content-container > h3 {
  float:none;
  text-align: center;
}


.img-thumbnail {
  margin:1vw;
  display:block;

}

.concept-description > p {
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;

}

.team-row > h4 {
  text-align: center;
}
.team-card {
margin-left:10%;
margin-right:10%;
}

.team-card:hover {

}

.team-card > h4,
.team-card > h6 {
  text-align: center;
}

.avatar {
  padding-left:10%;
  padding-right:10%;
  padding-top:10%;
}
